In [1]:
#Importing Pandaas library to read and analyze datas
import pandas as pd

In [2]:
#Reading our data file 
df=pd.read_csv('Crop_recommendation.csv')

In [3]:
#Checking if the file successfully uploaded or not 
df.head(10)#Printing first 10 rows of the dataset
#N=Nitrogen,P=Phosphorus, K =Potassium

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice
5,69,37,42,23.058049,83.370118,7.073454,251.055000,rice
6,69,55,38,22.708838,82.639414,5.700806,271.324860,rice
7,94,53,40,20.277744,82.894086,5.718627,241.974195,rice
8,89,54,38,24.515881,83.535216,6.685346,230.446236,rice
9,68,58,38,23.223974,83.033227,6.336254,221.209196,rice

In [4]:
#Checking last 10 rows 
df.tail(10)

,Nitrogen,phosphorus,potassium,temperature,humidity,ph,rainfall,label
2190,103,40,30,27.309018,55.196224,6.348316,141.483164,coffee
2191,118,31,34,27.548230,62.881792,6.123796,181.417081,coffee
2192,106,21,35,25.627355,57.041511,7.428524,188.550654,coffee
2193,116,38,34,23.292503,50.045570,6.020947,183.468585,coffee
2194,97,35,26,24.914610,53.741447,6.334610,166.254931,coffee
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee

In [5]:
#If there is any extra column we want to delete permanently (for temporary delete we will not use inplace=True)
#df.drop(['extra_col1','extra_col2'],axis=1,inplace=True)
#Checking if there is any columnwise null value in our data
df.isnull().sum()

Nitrogen       0
phosphorus     0
potassium      0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [6]:
#Getting information about our datatype columnwise
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     2200 non-null   int64
 1   phosphorus   2200 non-null   int64
 2   potassium    2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
#Want to check the number of type of crops in 'label'
df['label'].value_counts()

label
rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: count, dtype: int64

In [8]:
# We need to check if data is balanced or not, otherwise it may create the bias towards the label-data which is major in count.So we checked that data is cleaened and balanced.
#We will split data in input data x and output data y
x=df.drop('label',axis=1)#We will not put inplace=True as we dont want the permanent delete of the data 'label'.Data set type is DataFrame
y=df['label']#Data set type is Series

In [9]:
#Seeing the x datas
x.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     2200 non-null   int64
 1   phosphorus   2200 non-null   int64
 2   potassium    2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 120.4 KB

In [10]:
#Seeing the y( i.e. label) datas 
y.info()
#

<class 'pandas.core.series.Series'>
RangeIndex: 2200 entries, 0 to 2199
Series name: label
Non-Null Count  Dtype
--------------  -----
2200 non-null   object
dtypes: object(1)
memory usage: 17.3+ KB

In [11]:
#Let us split the data set in test and train 
from sklearn.model_selection import train_test_split
x_train,x_test, y_train, y_test=train_test_split(x,y,random_state=1,test_size=0.2)#random_state=1 because we don't want the change in test and train data at each time we execute

#We are having 20% data for testing and remaining 80% data for training

In [12]:
x_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1760 entries, 1863 to 1061
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Nitrogen     1760 non-null   int64
 1   phosphorus   1760 non-null   int64
 2   potassium    1760 non-null   int64
 3   temperature  1760 non-null   float64
 4   humidity     1760 non-null   float64
 5   ph           1760 non-null   float64
 6   rainfall     1760 non-null   float64
dtypes: float64(4), int64(3)
memory usage: 110.0 KB

In [13]:
y_test.info()

<class 'pandas.core.series.Series'>
Index: 440 entries, 1276 to 1263
Series name: label
Non-Null Count  Dtype
--------------  -----
440 non-null    object
dtypes: object(1)
memory usage: 6.9+ KB

In [14]:
#Let us use Logistic Regression model 
from sklearn.linear_model import LogisticRegression

In [15]:
model1=LogisticRegression()#Our model1 is Logistic Regression model
model1.fit(x_train,y_train)

C:\Users\sk731\AppData\Roaming\Python\Python312\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [16]:
#Let us check whether the model has been trained or not
y_pred1=model1.predict(x_test)

In [17]:
from sklearn.metrics import accuracy_score
logistic_accuracy=accuracy_score(y_pred1,y_test)
print(f"Accuracy in Logistic Regression is: { logistic_accuracy*100}%")

Accuracy in Logistic Regression is: 97.04545454545455%

In [18]:
#Let us train our model named model2 with Decision tree
from sklearn.tree import DecisionTreeClassifier
model2=DecisionTreeClassifier()
model2.fit(x_train,y_train)
y_pred2=model2.predict(x_test)

In [19]:
#Let us check the accuracy through Decision Tree model
dt_accuracy=accuracy_score(y_pred2,y_test)
print(f"Accuracy in DecisionTree model is: { dt_accuracy*100}%")

Accuracy in DecisionTree model is: 99.54545454545455%

In [20]:
#Let us train our model named model2 with Random forest
from sklearn.ensemble import RandomForestClassifier
model3=RandomForestClassifier()
model3.fit(x_train,y_train)
y_pred3=model3.predict(x_test)

In [21]:
#Let us check the accuracy through Random Forest model
rf_accuracy=accuracy_score(y_pred3,y_test)
print(f"Accuracy in RandomForest model is: { dt_accuracy*100}%")

Accuracy in RandomForest model is: 99.54545454545455%

In [22]:
#The accuracy for both Decision Tree and Random_Forest models are same . So we will consider Decision Tree as time complexity for the Random_Forest is higher than that of Decision Tree
#Let us save our model2 in a file
import joblib
filename='crop app'
joblib.dump(model2,'crop app')

['crop app']

In [23]:
app=joblib.load('crop app')

In [24]:
#Let us check whether our prediction model is working or not
arr=[[90	,42,	43	,20.879744,	82.002744,	6.502985	,202.935536]]
check_model=app.predict(arr)
print(check_model)

['rice']

C:\Users\sk731\AppData\Roaming\Python\Python312\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(